In [1]:
import numpy as np
import pandas as pd
from mlal1 import*
import matplotlib.pyplot as plt
train_df = pd.read_csv("classification_train.csv")
test_df = pd.read_csv("classification_test.csv")

train_features = train_df.iloc[:, 2:].values
train_labels = train_df.iloc[:, 1].values
y2=train_df[['label']]
test_features = test_df.iloc[:, 1:].values
test_labels = test_df.iloc[:, 0].values

In [2]:
print(train_labels.shape)

(30000,)

In [3]:
y11=y2.copy()
y11[y11!=1] =0
y11[y11==1] =1
y111= y11["label"].tolist()
# print(y111)

In [4]:
y22=y2.copy()
y22[y22!=2] =0
y22[y22==2] =1

y222= y22["label"].tolist()

In [5]:
y33=y2.copy()
y33[y33!=3] =0
y33[y33==3] =1
y333= y33["label"].tolist()

In [6]:
y00=y2.copy()
y0000=y2.copy()
y00[y00==0] =1
y00[y0000!=0] =0

y000= y00["label"].tolist()

In [7]:
y44=y2.copy()
y44[y44!=4] =0
y44[y44==4] =1
y444= y44["label"].tolist()

In [8]:
y55=y2.copy()
y55[y55!=5] =0
y55[y55==5] =1
y555= y55["label"].tolist()

In [9]:
y66=y2.copy()
y66[y66!=6] =0
y66[y66==6] =1
y666= y66["label"].tolist()

In [10]:
y77=y2.copy()
y77[y77!=7] =0
y77[y77==7] =1
y777= y77["label"].tolist()

In [11]:
y88=y2.copy()
y88[y88!=8] =0
y88[y88==8] =1
y888= y88["label"].tolist()

In [12]:
y99=y2.copy()
y99[y99!=9] =0
y99[y99==9] =1
y999= y99["label"].tolist()

In [13]:
df = pd.DataFrame()

In [14]:
df['y00']=y000
df['y11']=y111
df['y22']=y222
df['y33']=y333
df['y44']=y444
df['y55']=y555
df['y66']=y666
df['y77']=y777
df['y88']=y888
df['y99']=y999
display(df)

       y00  y11  y22  y33  y44  y55  y66  y77  y88  y99
0        0    0    0    0    0    0    0    0    1    0
1        0    0    0    0    1    0    0    0    0    0
2        0    1    0    0    0    0    0    0    0    0
3        0    0    0    0    0    0    0    0    1    0
4        0    0    1    0    0    0    0    0    0    0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
29995    0    0    0    1    0    0    0    0    0    0
29996    0    0    0    0    1    0    0    0    0    0
29997    0    0    0    0    0    0    0    0    0    1
29998    0    0    0    0    1    0    0    0    0    0
29999    0    0    0    0    0    0    1    0    0    0

[30000 rows x 10 columns]

In [15]:
Y_train=df.to_numpy()
train_labels=Y_train
print(train_labels.shape)

(30000, 10)

In [16]:
def derv_relu(Z):
    return Z>0

In [25]:
class NeuralNetwork:
    def __init__(self, input_size, hidden_size, output_size):
        self.W1 = 0.001*np.random.randn(input_size, hidden_size)
        self.b1 = np.zeros((1, hidden_size))
        self.W2 = 0.001*np.random.randn(hidden_size, output_size)
        self.b2 = np.zeros((1, output_size))
    
    def forward(self, X):
        self.z1 = np.dot(X, self.W1) + self.b1
        self.a1 = np.tanh(self.z1)
        self.z2 = np.dot(self.a1, self.W2) + self.b2
        self.a2 = np.exp(self.z2) / np.sum(np.exp(self.z2), axis=1, keepdims=True)
        return self.a2
    
    def backward(self, X, Y, output):
        error_output = output - Y
        delta_output = error_output
        error_hidden = np.dot(delta_output, self.W2.T)
        delta_hidden = error_hidden * derv_relu(self.a1)
        self.W2 -= 0.0001 * np.dot(self.a1.T, delta_output)
        self.b2 -= 0.0001 * np.sum(delta_output, axis=0, keepdims=True)
        self.W1 -= 0.0001 * np.dot(X.T, delta_hidden)
        self.b1 -= 0.0001 * np.sum(delta_hidden, axis=0)
    
    def train(self, X, Y):
        output = self.forward(X)
        self.backward(X, Y, output)
    
    def predict(self, X):
        output = self.forward(X)
        return np.argmax(output, axis=1)

# Create the neural network object and train it on the MNIST dataset
nn = NeuralNetwork(784, 100, 10)

for epoch in range(15):
    print('Epoch', epoch+1)
    for i in range(len(train_features)):
        nn.train(train_features[i:i+1], train_labels[i:i+1])
    predictions = nn.predict(train_features)
    accuracy = np.mean(predictions == np.argmax(train_labels, axis=1))
    print('Accuracy:', accuracy)

# Visualize some of the predictions

Epoch 1
Accuracy: 0.4757
Epoch 2
Accuracy: 0.5642
Epoch 3
Accuracy: 0.5715666666666667
Epoch 4
Accuracy: 0.6100666666666666
Epoch 5
Accuracy: 0.6285666666666667
Epoch 6
Accuracy: 0.6392666666666666
Epoch 7
Accuracy: 0.6608666666666667
Epoch 8
Accuracy: 0.6704666666666667
Epoch 9
Accuracy: 0.6730333333333334
Epoch 10
Accuracy: 0.6753333333333333
Epoch 11
Accuracy: 0.6837666666666666
Epoch 12
Accuracy: 0.687
Epoch 13
Accuracy: 0.6912333333333334
Epoch 14
Accuracy: 0.6915
Epoch 15
Accuracy: 0.6980333333333333